body {
    background-color: #33ccff;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(#33ccff, #00802b);
    background-attachment: fixed;
}
.header {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.part1
{

    margin:auto;

    border:1px solid black;
    border-radius: 10%;
    width:50%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #00802b;
    background-image: linear-gradient(#00802b, #33ccff);

}
.part2
{

    margin:auto;



    width:50%;
}

.hide { display: none; }
.show { display: block; }
#easyGame
{
    text-align: center;
    margin:auto;
    background-color: white;
    border:1px solid black;

    width:50%;

}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5%;
}

.btn {
    position: relative;
    margin: 0 auto;
    width: 10em;
    color: black;
    border: .15em solid black;
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;
}